#header {
  font-size: 8rem;
  background-image: url("C:\Users\JD\Desktop\react\shopping_cart\src\assets\headertext.jpg");
  background-size: 100%;
  background-position: center;
  background-size: auto;
  background-repeat: repeat;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
